<head>
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    rel="stylesheet"
  />
</head>

<nav
  class="navbar navbar-expand-md navbar-dark bg-primary"
  style="background: black !important"
>
  <a class="navbar-brand" [attr.href]="'https://hvtest.com.mx/index.html'">
    <img
      src="assets/images/logoHV.png"
      style="width: 120px; margin-left: 15px"
    />
  </a>
  <h1
    style="
      margin-right: 20px;
      margin-left: 30px;
      color: white;
      text-decoration: underline white;
    "
  >
    DCC
  </h1>
</nav>
